@use "./mixins/fonts.scss" as *;
@use "./mixins/window_size.scss" as *;

//for number input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  // --primary-color: #007bff;
  // --secondary-color: #6c757d;
  // --accent-color: #f0ad4e;
  // --light-color: #f8f9fa;
  // --dark-color: #212529;
  --primary: #3b82f6;
  --secondary: #374151;
  --border: #d1d5db;
  --border-focus: #64748b;
  --danger: #ef4444; //red-500
}

//actual scss
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: PoppinsRegular, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f2e3e3;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include forPc {
  }
  @include forNonPc {
  }
}
.main__inner {
  background-color: white;
  @include forPc {
    width: 45rem;
    height: 40rem;
    padding: 50px;
    border-radius: 10px 10px 300px 10px;
  }
  @include forNonPc {
    width: 24rem;
    height: 30rem;
    padding: 20px;
    border-radius: 10px 10px 100px 10px;
  }
  .birthday {
    display: flex;
    border-bottom: 1px solid var(--secondary);
    position: relative;
    @include forPc {
      gap: 50px;
      padding: 0 0 50px 0;
    }
    @include forNonPc {
      gap: 30px;
      padding: 0 0 70px 0;
    }
    &__style {
      position: relative;
      &__label {
        display: block;
        margin: 0 0 5px 0;
        color: var(--secondary);
        text-transform: uppercase;
        @include forPc {
          font-size: 18px;
        }
        @include forNonPc {
          font-size: 14px;
        }
      }
      &__input {
        padding: 10px 20px;
        border: 1px solid var(--border);
        border-radius: 5px;
        @include forPc {
          width: 100px;
          font-size: 23px;
        }
        @include forNonPc {
          width: 95px;
          font-size: 18px;
        }
      }
      &__input:focus {
        outline: 1px solid var(--border-focus);
      }
      &__error {
        display: inline-block;
        width: 180px;
        position: absolute;
        top: 80px;
        left: 0px;
        color: var(--danger);
        font-size: 14px;
      }
    }
    .arrow {
      background-color: var(--primary);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--primary);
      border-radius: 50%;
      position: absolute;
      transition: 0.5s;
      @include forPc {
        width: 70px;
        height: 70px;
        right: 0px;
        bottom: -35px;
        animation: rollingLeft 2s ease 0s 1 normal forwards;
      }
      @include forNonPc {
        width: 60px;
        height: 60px;
        right: 150px;
        bottom: -30px;
        animation: rollingLeft 1s ease 0s 1 normal forwards;
      }
      @keyframes rollingLeft {
        0% {
          opacity: 0;
          transform: translateX(-550px) rotate(-200deg);
        }

        100% {
          opacity: 1;
          transform: translateX(0) rotate(0deg);
        }
      }
      &__img {
        @include forPc {
          width: 35px;
        }
        @include forNonPc {
          width: 25px;
        }
      }
    }
    .arrow:hover {
      background-color: var(--secondary);
      border-color: var(--secondary);
    }
  }
  .results {
    margin: 50px 0 0 0;
    &__result {
      font-weight: bold;
      font-style: italic;
      @include forPc {
        font-size: 97px;
      }
      @include forNonPc {
        font-size: 60px;
      }
      &__num {
        color: var(--primary);
      }
    }
  }
}
